[package]
name = "contract-extrinsics"
version = "6.0.0-alpha"
authors = ["Use Ink <ink@use.ink>"]
edition = "2021"
rust-version = "1.70"

license = "Apache-2.0"
readme = "README.md"
repository = "https://github.com/use-ink/cargo-contract"
documentation = "https://docs.rs/contract-extrinsics"
homepage = "https://www.substrate.io/"
description = "Library defining extrinsics for smart contracts on polkadot-sdk"
keywords = ["polkavm", "ink", "riscv", "blockchain", "edsl"]
include = ["Cargo.toml", "*.rs", "LICENSE",]

[dependencies]
contract-build = { version = "6.0.0-alpha", path = "../build" }
contract-metadata = { version = "6.0.0-alpha", path = "../metadata" }
contract-transcode = { version = "6.0.0-alpha", path = "../transcode" }

anyhow = "1.0.95"
blake2 = { version = "0.10.6", default-features = false }
futures = { version = "0.3.31", default-features = false, features = ["std"] }
itertools = { version = "0.14", default-features = false }
tracing = "0.1.41"
scale = { package = "parity-scale-codec", version = "3.6.12", features = ["derive"] }
colored = "3.0.0"
serde = { version = "1.0.217", default-features = false, features = ["derive"] }
serde_json = "1.0.133"
url = { version = "2.5.4", features = ["serde"] }
rust_decimal = "1.36"
tokio = { version = "1", features = ["macros", "rt-multi-thread"] }
scale-info = "2.11.6"
subxt = "0.38.1"
hex = "0.4.3"
derivative = "2.2.0"

sp-core = { version = "36.1.0", default-features = false }
sp-runtime = "41.1.0"
sp-weights = { version = "31.1.0", default-features = false }
pallet-revive = "0.5.0"
pallet-revive-uapi = { version = "0.4.0", default-features = false, features = ["unstable-hostfn", "scale"] }

ink_metadata = { version = "6.0.0-alpha", default-features = false, features = ["std", "derive"] }
ink_env = "6.0.0-alpha"

[dev-dependencies]
ink = "6.0.0-alpha"
assert_cmd = "2.0.17"
regex = "1.11.1"
predicates = "3.1.3"
tempfile = "3.16.0"
tracing-subscriber = { version = "0.3.19", features = ["env-filter"] }
subxt-signer = { version = "0.38.1", features = ["subxt", "sr25519"] }
stdio-override = "0.2.0"

[features]
integration-tests = []
test-ci-only = []
