[package]
name = "contract-analyze"
version = "4.1.1"
authors = ["Parity Technologies <admin@parity.io>"]
edition = "2021"

license = "Apache-2.0"
readme = "README.md"
repository = "https://github.com/paritytech/cargo-contract"
documentation = "https://docs.rs/contract-analyze"
homepage = "https://www.substrate.io/"
description = "Library determining source language for smart contracts on substrate"
keywords = ["wasm", "parity", "webassembly", "blockchain", "edsl"]
include = ["Cargo.toml", "*.rs", "LICENSE"]

[dependencies]
contract-metadata = { version = "4.1.1", path = "../metadata" }
wasmparser = "0.204.0"
anyhow = "1.0.81"

[dev-dependencies]
wat = "1.205.0"

