[package]
name = "contract-transcode"
version = "4.1.1"
authors = ["Parity Technologies <admin@parity.io>"]
edition = "2021"

license = "Apache-2.0"
readme = "README.md"
repository = "https://github.com/paritytech/cargo-contract"
documentation = "https://docs.rs/contract-transcode"
homepage = "https://www.substrate.io/"
description = "Library encoding calls for smart contracts on substrate"
keywords = ["wasm", "parity", "webassembly", "blockchain", "edsl"]
include = ["Cargo.toml", "*.rs", "LICENSE"]

[lib]
path = "src/lib.rs"

[dependencies]
anyhow = "1.0.81"
base58 = { version = "0.2.0" }
blake2 = { version = "0.10.6", default-features = false }
contract-metadata = { version = "4.1.1", path = "../metadata" }
escape8259 = "0.5.2"
hex = "0.4.3"
indexmap = "2.2.6"
ink_env = "5.0.0"
ink_metadata = "5.0.0"
itertools = "0.12.1"
tracing = "0.1.40"
nom = "7.1.3"
nom-supreme = { version = "0.7.0", features = ["error"] }
primitive-types = { version = "0.12.2", default-features = false, features = ["codec", "scale-info", "serde"] }
scale = { package = "parity-scale-codec", version = "3.0.0", features = ["derive"] }
scale-info = { version = "2.11.2", default-features = false, features = ["derive"] }
serde = { version = "1.0.199", default-features = false, features = ["derive"] }
serde_json = "1.0.116"
thiserror = "1.0.59"
strsim = "0.11.1"

# AccountId20 dependencies
impl-serde = { version = "0.4.0" }
libsecp256k1 = { version = "0.7.1", features = [ "hmac" ] }
sha3 = { version = "0.10.3", default-features = false }
sp-core = "31.0.0"
sp-io = "33.0.0"
sp-runtime = "34.0.0"
log = "0.4.20"
subxt = "0.35.3"

[dev-dependencies]
assert_matches = "1.5.0"
ink = "5.0.0"
sp-keyring = "34.0.0"

[features]
# This `std` feature is required for testing using an inline contract's metadata, because `ink!` annotates the metadata
# generation code with `#[cfg(feature = "std")]`.
default = ["std"]
std = []
