[package]
name = "cargo-contract"
version = "4.0.2"
authors = ["Parity Technologies <admin@parity.io>"]
build = "build.rs"
edition = "2021"

license = "GPL-3.0"
readme = "README.md"
repository = "https://github.com/paritytech/cargo-contract"
documentation = "https://docs.substrate.io/tutorials/v3/ink-workshop/pt1/"
homepage = "https://www.parity.io/"
description = "Setup and deployment tool for developing Wasm based smart contracts via ink!"
keywords = ["wasm", "parity", "webassembly", "blockchain", "edsl"]
categories = ["command-line-utilities", "development-tools::build-utils", "development-tools::cargo-plugins"]
include = [
    "Cargo.toml", "src/**/*.rs", "README.md", "LICENSE", "build.rs",
]

[dependencies]
contract-build = { version = "4.0.2", path = "../build" }
contract-extrinsics = { version = "4.0.2", path = "../extrinsics" }
contract-transcode = { version = "4.0.2", path = "../transcode" }
contract-metadata = { version = "4.0.2", path = "../metadata" }
contract-analyze = { version = "4.0.2", path = "../analyze" }

anyhow = "1.0.81"
clap = { version = "4.5.3", features = ["derive", "env"] }
primitive-types = { version = "0.12.2", default-features = false, features = ["codec", "scale-info", "serde"] }
tracing = "0.1.40"
tracing-subscriber = { version = "0.3.18", features = ["env-filter"] }
which = "6.0.0"
colored = "2.1.0"
serde_json = "1.0.114"
serde = { version = "1.0.197", default-features = false, features = ["derive"] }
url = { version = "2.5.0", features = ["serde"] }
semver = "1.0"
jsonschema = "0.17"
schemars = "0.8"
ink_metadata = "5.0.0"
ink_env = "5.0.0"
comfy-table = "7.1.0"

# dependencies for extrinsics (deploying and calling a contract)
tokio = { version = "1", features = ["macros", "rt-multi-thread"] }
subxt = "0.34.0"
sp-core = "30.0.0"
sp-weights = "29.0.0"
hex = "0.4.3"
subxt-signer = { version = "0.34.0", features = ["subxt", "sr25519"] }

[build-dependencies]
anyhow = "1.0.81"
substrate-build-script-utils = "11.0.0"
current_platform = "0.2.0"
which = "6.0.0"

[dev-dependencies]
assert_cmd = "2.0.14"
regex = "1.10.3"
predicates = "3.1.0"
tempfile = "3.10.1"

[features]
# This `std` feature is required for testing using an inline contract's metadata, because `ink!` annotates the metadata
# generation code with `#[cfg(feature = "std")]`.
default = ["std"]
std = []

# Enable this to execute long running tests, which usually are only run on the CI server
#
# Disabled by default
test-ci-only = []

# Enable this to execute tests which depend on a locally running contracts enabed chain
# e.g.https://github.com/paritytech/substrate-contracts-node
integration-tests = []
