[package]
name = "cargo-contract"
version = "4.0.0-alpha"
authors = ["Parity Technologies <admin@parity.io>"]
build = "build.rs"
edition = "2021"

license = "GPL-3.0"
readme = "README.md"
repository = "https://github.com/paritytech/cargo-contract"
documentation = "https://docs.substrate.io/tutorials/v3/ink-workshop/pt1/"
homepage = "https://www.parity.io/"
description = "Setup and deployment tool for developing Wasm based smart contracts via ink!"
keywords = ["wasm", "parity", "webassembly", "blockchain", "edsl"]
categories = ["command-line-utilities", "development-tools::build-utils", "development-tools::cargo-plugins"]
include = [
    "Cargo.toml", "src/**/*.rs", "README.md", "LICENSE", "build.rs",
]

[dependencies]
contract-build = { version = "4.0.0-alpha", path = "../build" }
contract-extrinsics = { version = "4.0.0-alpha", path = "../extrinsics" }
contract-transcode = { version = "4.0.0-alpha", path = "../transcode" }
contract-metadata = { version = "4.0.0-alpha", path = "../metadata" }

anyhow = "1.0.75"
clap = { version = "4.4.6", features = ["derive", "env"] }
primitive-types = { version = "0.12.2", default-features = false, features = ["codec", "scale-info", "serde"] }
tracing = "0.1.37"
tracing-subscriber = { version = "0.3.17", features = ["env-filter"] }
which = "4.4.2"
colored = "2.0.4"
serde_json = "1.0.107"
serde = { version = "1.0.183", default-features = false, features = ["derive"] }
url = { version = "2.4.1", features = ["serde"] }
semver = "1.0"



# dependencies for extrinsics (deploying and calling a contract)
tokio = { version = "1", features = ["macros", "rt-multi-thread"] }
subxt = "0.32.1"
sp-core = "22.0.0"
sp-weights = "21.0.0"
pallet-contracts-primitives = "25.0.0"
hex = "0.4.3"

[build-dependencies]
anyhow = "1.0.75"
substrate-build-script-utils = "8.0.0"
current_platform = "0.2.0"
which = "4.4.2"

[dev-dependencies]
assert_cmd = "2.0.12"
regex = "1.10.0"
predicates = "3.0.4"
tempfile = "3.8.0"

[features]
# This `std` feature is required for testing using an inline contract's metadata, because `ink!` annotates the metadata
# generation code with `#[cfg(feature = "std")]`.
default = ["std"]
std = []

# Enable this to execute long running tests, which usually are only run on the CI server
#
# Disabled by default
test-ci-only = []

# Enable this to execute tests which depend on a locally running contracts enabed chain
# e.g.https://github.com/paritytech/substrate-contracts-node
integration-tests = []
