name: continuous-intergration/macos

on:
  pull_request:
  push:
    branches:
      - master
    tags:
      - v*
    paths-ignore:
      - 'README.md'
      - '.gitlab-ci.yml'

jobs:
  check:
    name: build-contract-template
    strategy:
      matrix:
        platform:
          - macos-latest
        toolchain:
          - nightly
    runs-on: ${{ matrix.platform }}
    env:
      RUST_BACKTRACE: full
    steps:

      - uses: actions/setup-node@v2
        with:
          cache: 'npm'

      - run: npm install wasm-opt -g

      - name: Checkout sources & submodules
        uses: actions/checkout@master
        with:
          fetch-depth: 1
          submodules: recursive

      - name: Install toolchain
        id: toolchain
        uses: actions-rs/toolchain@master
        with:
          profile: minimal
          toolchain: ${{ matrix.toolchain }}
          components: rust-src
          override: true

      - name: Rust Cache
        uses: Swatinem/rust-cache@v1.2.0

      - name: Build contract template on ${{ matrix.platform }}-${{ matrix.toolchain }}
        run: |
          wasm-opt --version
          cargo -vV
          cargo run -- contract --version
          cargo run -- contract new foobar
          echo "[workspace]" >> foobar/Cargo.toml
          cargo run -- contract build --manifest-path=foobar/Cargo.toml
          cargo run -- contract check --manifest-path=foobar/Cargo.toml
          cargo run -- contract test --manifest-path=foobar/Cargo.toml

      - name: Run tests on {{ matrix.platform }}-${{ matrix.toolchain }}
        # The tests take a long time in the GitHub Actions runner (~30 mins),
        # hence we run them only on `master`.
        if: github.ref == 'refs/heads/master'
        run: |
          cargo test --verbose --workspace --all-features
